# Hostaway API Credentials
HOSTAWAY_API_KEY=f94377ebbbb479490bb3ec364649168dc443dda2e4830facaf5de2e74ccc9152
HOSTAWAY_ACCOUNT_ID=61148

# Google Places API (Optional - for future integration)
# GOOGLE_PLACES_API_KEY=your_api_key_here